@font-face {
   font-family: 'SA Long Beach';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(./assets/SALongBeach.otf) format('truetype');
}

@font-face {
   font-family: 'Skramp';
   font-style: normal;
   font-weight: 400;
   font-display: swap;
   src: url(./assets/SkrampCyr-Regular_0.ttf) format('truetype');
}

body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background: #a9e2ed;
   overflow-x: hidden;
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.header__btn {
   width: 60px;
   height: 60px;
   padding: 10px;
   background: #263d1e;
   border: 3px solid #607f55;
   color: #def3d6;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: background 200ms ease-in-out;
}

.hero__logo {
   max-width: 520px;
   width: 100%;
   margin: 0 auto 60px auto;
}

.hero__btn {
   background: #96de7c;
   border: 5px solid #263d1e;
   color: #263d1e;
   font-size: 32px;
   text-transform: uppercase;
   padding: 18px 30px 18px;
   border-radius: 24px;
   margin-bottom: 32px;
   transition: background 200ms ease-in-out, color 200ms ease-in-out;
   font-family: 'SA Long Beach', system-ui;
   cursor: pointer;
}
.hero__btn:hover {
   background: #263d1e;
   color: #96de7c;
}

.popup-img {
   width: 400px;
   margin: auto;
}

@media (max-width: 768px) {
   .popup-img {
      width: 200px;
   }
}

.popup_close_btn {
   background: #96de7c;
   border: 5px solid #263d1e;
   color: #263d1e;
   font-size: 58px;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 6px 12px;
   border-radius: 24px;
   margin-bottom: 32px;
   transition: background 200ms ease-in-out, color 200ms ease-in-out;
   font-family: 'SA Long Beach', system-ui;
   cursor: pointer;
   animation: bounce 2s ease infinite;
}

@keyframes bounce {
   0%,
   70%,
   90%,
   97%,
   100% {
      transform: translateY(0%);
   }
   80% {
      transform: translateY(-15%);
   }
   95% {
      transform: translateY(-7%);
   }
   99% {
      transform: translateY(-3%);
   }
}

.popup_close_btn:hover {
   background: #263d1e;
   color: #96de7c;
}

.popup_follow_btn {
   background: #3c7925;
   border: 5px solid #263d1e;
   color: #263d1e;
   font-size: 28px;
   text-transform: uppercase;
   margin-top: 10px;
   padding: 6px 12px;
   border-radius: 24px;
   margin-bottom: 32px;
   transition: background 200ms ease-in-out, color 200ms ease-in-out;
   font-family: 'SA Long Beach', system-ui;
   cursor: pointer;
}

.popup_follow_btn:hover {
   background: #263d1e;
   color: #96de7c;
}

.hero__bottom {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   /* min-width: 1280px; */
   bottom: -150px;
   pointer-events: none;
}
.about {
   position: relative;
   background: #88ddfe;
   padding-top: 50px;
   padding-bottom: 10vw;
}
.about__top {
   position: absolute;
   bottom: 100%;
   left: 50%;
   transform: translateX(-50%) translateY(5px);
   width: 100%;
   /* min-width: 1280px; */
}
.about__clouds {
   position: absolute;
   z-index: 0;
   left: 0;
   top: 0;
   animation: aboutClouds 120s linear infinite;
   transform: scale(200%);
}

@media (max-width: 768px) {
   .about__clouds {
      display: none;
   }
}
.about__buildings {
   position: absolute;
   z-index: 3;
   bottom: 100px;
   left: 0;
   width: 340px;
}
.about__container {
   position: relative;
   z-index: 10;
}
.about__left {
   max-width: 800px;
   width: 100%;
}

.about__badge {
   padding: 24px 24px 21px;
   font-size: 26px;
   line-height: 1;
   color: #263d1e;
   background: #fff;
   border: 5px solid #263d1e;
   border-radius: 24px;
   display: block;
   word-break: break-all;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   font: inherit;
   vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
   display: block;
}
body {
   line-height: 1;
}
ol,
ul {
   list-style: none;
}
blockquote,
q {
   quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
   content: '';
   content: none;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
.fixed {
   position: fixed;
   z-index: 99;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.94);
}

.fixed-music {
   position: fixed;
   z-index: 98;
}
/* @font-face {
   font-family: 'SA Long Beach';
   font-style: normal;
   font-weight: 400;
   src: url(/web/20240829021942im_/http://bruheth.com/assets/fonts/SALongBeach.woff2)
         format(woff2),
      url(/web/20240829021942im_/http://bruheth.com/assets/fonts/SALongBeach.otf)
         format(opentype);
}
@font-face {
   font-family: 'Fox Pookie';
   font-style: normal;
   font-weight: 400;
   src: url(/web/20240829021942im_/http://bruheth.com/assets/fonts/FoxPookieRegular.woff2)
         format(woff2),
      url(/web/20240829021942im_/http://bruheth.com/assets/fonts/FoxPookieRegular.ttf)
         format(truetype);
} */
*,
*::after,
*::before {
   box-sizing: border-box;
}
html,
body {
   font-family: 'SA Long Beach', system-ui;
   font-style: normal;
   font-weight: 400;
   font-size: 20px;
}
a {
   text-decoration: none;
   color: inherit;
}
button {
   font-family: inherit;
   cursor: pointer;
}
img,
video {
   display: block;
}
.wrapper {
   overflow: hidden;
   max-width: 100vw;
   min-height: 100vh;
   position: relative;
}
.container {
   max-width: 1320px;
   margin: 0 auto;
   width: 100%;
   padding: 0 10px;
}
.header {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 5;
   top: 50px;
}
@media screen and (max-width: 480px) {
   .header {
      top: 30px;
   }
}
.header__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
@media screen and (max-width: 480px) {
   .header__logo img {
      width: 90px;
   }
}
.header__socials {
   display: flex;
   gap: 12px;
}
@media screen and (max-width: 480px) {
   .header__socials {
      gap: 8px;
   }
}
.header__btn {
   width: 60px;
   height: 60px;
   background: #263d1e;
   border: 3px solid #607f55;
   color: #def3d6;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: background 200ms ease-in-out;
}
.header__btn:hover {
   background: #607f55;
}
.header__btn svg {
   max-height: 30px;
   max-width: 30px;
   display: block;
}
@media screen and (max-width: 480px) {
   .header__btn {
      width: 50px;
      height: 50px;
   }
   .header__btn svg {
      max-width: 24px;
      max-height: 24px;
   }
}
.hero {
   background: #a9e2ed;
   padding-top: 180px;
   position: relative;
}
@media screen and (max-width: 480px) {
   .hero {
      padding-top: 125px;
   }
}
.hero__container {
   display: flex;
   flex-direction: column;
   align-items: center;
   position: relative;
   z-index: 5;
}
.hero__logo {
   max-width: 520px;
   width: 100%;
   margin: 0 auto 60px auto;
}
.hero__btn {
   background: #96de7c;
   border: 5px solid #263d1e;
   color: #263d1e;
   font-size: 32px;
   text-transform: uppercase;
   padding: 24px 50px 20px;
   border-radius: 24px;
   margin-bottom: 32px;
   transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.hero__btn:hover {
   background: #263d1e;
   color: #96de7c;
}
.hero__bruh {
   position: relative;
   margin-bottom: 14vw;
}
@media screen and (max-width: 1400px) {
   .hero__bruh {
      margin-bottom: 150px;
   }
}
.hero__bruh-bruh {
   width: 100%;
}
@media screen and (max-width: 900px) {
   .hero__bruh-bruh {
      padding-top: 150px;
   }
}
.hero__message {
   position: absolute;
   transform: rotate(6deg);
   bottom: 70%;
   right: -70%;
}
@media screen and (max-width: 900px) {
   .hero__message {
      right: 0;
      bottom: 60%;
      transform: rotate(-6deg);
   }
}
.hero__clouds {
   position: absolute;
   left: 50%;
   top: 80px;
   transform: translateX(-50%);
   width: 100%;
   /* min-width: 1280px; */
   pointer-events: none;
}
.hero__bottom {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   /* min-width: 1280px; */
   bottom: 0;
   pointer-events: none;
}
/* @media (max-width: 768px) {
   .hero__bottom {
      bottom: 100px;
   }
   
} */
.about {
   position: relative;
   background: #88ddfe;
   padding-top: 50px;
   padding-bottom: 10vw;
   z-index: 20;
}
@media screen and (max-width: 1280px) {
   .about {
      padding-bottom: 150px;
   }
}
.about__top {
   position: absolute;
   bottom: 100%;
   left: 50%;
   transform: translateX(-50%) translateY(5px);
   width: 100%;
   /* min-width: 1280px; */
}
.about__clouds {
   position: absolute;
   z-index: 5;
   left: 0;
   top: 0;
   animation: aboutClouds 120s linear infinite;
   width: 200%;
   /* background: url('./assets/about-clouds.svg') repeat-x; */
}
.about__buildings {
   position: absolute;
   z-index: 3;
   bottom: 100px;
   left: 0;
   width: 340px;
}
.about__container {
   position: relative;
   z-index: 10;
}
.about__left {
   max-width: 800px;
   width: 100%;
}
.about__badge {
   padding: 10px;
   background: #fff;
   color: #000;
   font-size: 28px;
   line-height: 1;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 32px;
}
@media screen and (max-width: 767.98px) {
   .about__badge {
      display: block;
      width: -moz-max-content;
      width: max-content;
      margin: 0 auto 32px;
   }
}
.about__text {
   position: relative;
   z-index: 5;
   max-width: 640px;
   width: 100%;
   font-size: 26px;
   color: #35532a;
   background: #e4efe1;
   border: 5px solid #35532a;
   text-transform: uppercase;
   padding: 20px;
   border-radius: 32px;
   line-height: 1.3;
   margin-bottom: 32px;
   transform: rotate(-0.9deg);
}
@media screen and (max-width: 767.98px) {
   .about__text {
      margin: 0 auto 32px;
   }
}
.about__label {
   color: #263d1e;
   font-size: 26px;
   margin-bottom: 16px;
   display: flex;
   justify-content: end;
   text-align: left;
   padding-right: 152px;
   /* margin: 0 auto 0 16px; */
}
@media screen and (max-width: 767.98px) {
   .about__label {
      text-align: center;
   }
}
.about__row {
   display: flex;
   gap: 6px;
   position: relative;
   z-index: 5;
}
@media screen and (max-width: 767.98px) {
   .about__row {
      flex-direction: column;
      align-items: center;
   }
}
.about__contract {
   padding: 24px 24px 21px;
   font-size: 26px;
   line-height: 1;
   color: #263d1e;
   background: #fff;
   border: 5px solid #263d1e;
   border-radius: 24px;
   display: block;
   word-break: break-all;
}
.about__copy {
   /* font-family: 'Fox Pookie'; */
   padding: 24px 24px 21px;
   font-size: 26px;
   line-height: 1;
   color: #263d1e;
   background: #96de7c;
   border: 5px solid #263d1e;
   border-radius: 24px;
   text-transform: uppercase;
   transition: background 200ms ease-in-out, color 200ms ease-in-out;
}
.about__copy:hover {
   background: #263d1e;
   color: #96de7c;
}
.about__bottom {
   position: absolute;
   left: 0;
   bottom: 0;
   z-index: 2;
   width: 100%;
   /* min-width: 1280px; */
}
.about__right {
   position: absolute;
   right: 0;
   bottom: -50px;
   max-width: 40vw;
}
@media screen and (max-width: 800px) {
   .about__right {
      display: none;
   }
}
@keyframes aboutClouds {
   100% {
      transform: translateX(-100%);
   }
}
.tokenomics {
   display: flex;
   flex-direction: column;
   align-items: center;
   background: #bd996f;
   position: relative;
   z-index: 10;
   padding-top: 50px;
   padding-bottom: 10px;
}
@media screen and (max-width: 640px) {
   .tokenomics {
      padding-bottom: 50px;
   }
}
.tokenomics__top {
   /* min-width: 1280px; */
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: calc(100% - 5px);
   width: 100%;
}
.tokenomics__container {
   position: relative;
   padding: 10px;
}
.tokenomics__illustration {
   width: 763px;
   display: block;
   position: absolute;
   bottom: -220px;
   left: -90px;
   z-index: 5;
   pointer-events: none;
}
@media screen and (max-width: 1280px) {
   .tokenomics__illustration {
      width: 60%;
   }
}
@media screen and (max-width: 640px) {
   .tokenomics__illustration {
      width: 100%;
      bottom: -100px;
   }
}
.tokenomics__border {
   padding: 6px;
   background: #507295;
   border: 3px solid #022640;
   margin-left: auto;
   max-width: -moz-max-content;
   max-width: max-content;
   width: 100%;
   height: 100%;
}
@media screen and (max-width: 1280px) {
   .tokenomics__border {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
   }
}
.tokenomics__inner {
   padding: 50px 40px;
   background: #7ce2ff;
   border: 3px solid #022640;
}
@media screen and (max-width: 540px) {
   .tokenomics__inner {
      padding: 50px 20px;
   }
}
.tokenomics__title {
   font-size: 40px;
   /* font-family: 'Fox Pookie'; */
   text-transform: uppercase;
   margin-bottom: 24px;
}
@media screen and (max-width: 640px) {
   .tokenomics__title {
      text-align: center;
      font-size: 8vw;
   }
}
.tokenomics__list {
   display: flex;
   gap: 12px;
   flex-wrap: wrap;
}
@media screen and (max-width: 640px) {
   .tokenomics__list {
      flex-direction: column;
      flex-wrap: nowrap;
   }
}
.tokenomics__item {
   text-transform: uppercase;
   background: #e8faff;
   border: 3px solid #8ec6d6;
   padding: 24px;
   border-radius: 18px;
   color: #263d1e;
}
.tokenomics__item span {
   font-size: 24px;
   line-height: 1;
   margin-bottom: 16px;
}
@media screen and (max-width: 540px) {
   .tokenomics__item span {
      font-size: 20px;
   }
}
.tokenomics__item strong {
   display: block;
   font-size: 44px;
   line-height: 1;
   /* font-family: 'Fox Pookie'; */
}
@media screen and (max-width: 540px) {
   .tokenomics__item strong {
      font-size: 20px;
   }
}
@media screen and (max-width: 390px) {
   .tokenomics__item strong {
      font-size: 32px;
   }
}
@media screen and (max-width: 640px) {
   .tokenomics__item {
      text-align: center;
   }
}
@media screen and (max-width: 540px) {
   .tokenomics__item {
      padding: 16px;
      border-radius: 12px;
   }
}
.tokenomics__bottom {
   /* min-width: 1280px; */
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: calc(100% - 5px);
   width: 100%;
}
.faq {
   position: relative;
   background: #c2bbd6;
   padding-top: 15vw;
   padding-bottom: 150px;
}
@media screen and (max-width: 1280px) {
   .faq {
      padding-top: 20vw;
   }
}
@media screen and (max-width: 767.98px) {
   .faq {
      padding: 150px 0;
   }
}
.faq__window {
   position: absolute;
   pointer-events: none;
   right: 0;
   top: 10vw;
   width: 40vw;
}
@media screen and (max-width: 1280px) {
   .faq__window {
      width: 50vw;
   }
}
@media screen and (max-width: 1023.98px) {
   .faq__window {
      display: none;
   }
}
.faq__container {
   position: relative;
   z-index: 10;
}
.faq__col {
   margin-left: 50px;
   max-width: 540px;
}
@media screen and (max-width: 1023.98px) {
   .faq__col {
      margin: 0 auto;
   }
}
.faq__title {
   font-size: 40px;
   color: #263d1e;
   margin-bottom: 24px;
   text-align: center;
}
@media screen and (max-width: 440px) {
   .faq__title {
      font-size: 8vw;
   }
}
.faq__list {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
}
.faq__illustration {
   position: absolute;
   top: 0;
   right: 0;
   max-width: 40vw;
}
@media screen and (max-width: 1023.98px) {
   .faq__illustration {
      display: none;
   }
}
.accordion__header {
   background: #fff;
   border: 3px solid #000;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 20px;
   border-radius: 16px;
   cursor: pointer;
   transition: background 200ms ease-in-out;
}
.accordion__header:hover {
   background: #e4dbff;
}
.accordion__title {
   font-size: 24px;
   text-transform: uppercase;
   color: #000;
}
.accordion__icon {
   width: 24px;
   height: 24px;
   position: relative;
}
.accordion__icon::after,
.accordion__icon::before {
   content: '';
   display: block;
   position: absolute;
   background: #000;
   width: 24px;
   height: 3px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   transition: transform 200ms ease-in-out;
}
.accordion__icon::before {
   transform: translate(-50%, -50%) rotate(90deg);
}
.accordion__body {
   max-height: 0px;
   overflow: hidden;
   transition: max-height 300ms ease-in-out;
}
.accordion__body > div {
   font-size: 20px;
   line-height: 1.3;
   padding: 20px;
}
.accordion_open .accordion__body {
   max-height: var(--body-height, 500px);
}
.accordion_open .accordion__icon::before {
   transform: translate(-50%, -50%) rotate(0deg);
}
.footer {
   position: relative;
   background: #756c8f;
   padding: 50px 0;
}
.footer__top {
   position: absolute;
   bottom: calc(100% - 10px);
   left: 50%;
   transform: translateX(-50%);
   width: 100%;
   /* min-width: 1280px; */
}
.footer__container {
   display: flex;
   align-items: center;
   justify-content: space-between;
}
@media screen and (max-width: 1023.98px) {
   .footer__container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 40px;
   }
}
.footer__logo {
   text-decoration: none;
}
.footer__logo img {
   display: block;
}
.footer__nav {
   font-family: 'SA Long Beach', system-ui;
   display: flex;
   gap: 40px;
   font-style: normal;
   font-weight: 400;
   text-transform: uppercase;
}
@media screen and (max-width: 440px) {
   .footer__nav {
      gap: 10px;
      justify-content: space-between;
      width: 100%;
   }
}
.footer__nav a {
   color: #c4bae3;
   transition: color 200ms ease-in-out;
}
.footer__nav a:hover {
   color: #fff;
}
.footer__socials {
   display: flex;
   gap: 10px;
}
.footer__btn {
   width: 60px;
   height: 60px;
   background: #584e73;
   border: 3px solid #403758;
   color: #e0e0e0;
   text-decoration: none;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   transition: background 200ms ease-in-out;
}
.footer__btn:hover {
   background: #403758;
}
.footer__btn svg {
   max-height: 30px;
   max-width: 30px;
   display: block;
}
@media screen and (max-width: 480px) {
   .footer__btn {
      width: 50px;
      height: 50px;
   }
   .footer__btn svg {
      max-width: 24px;
      max-height: 24px;
   }
} /*# sourceMappingURL=main.css.map */
/*
     FILE ARCHIVED ON 02:19:42 Aug 29, 2024 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 09:47:29 Nov 18, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.585
  exclusion.robots: 0.035
  exclusion.robots.policy: 0.022
  esindex: 0.009
  cdx.remote: 7.834
  LoadShardBlock: 238.889 (3)
  PetaboxLoader3.datanode: 288.929 (5)
  PetaboxLoader3.resolve: 142.914 (2)
  load_resource: 231.538
  loaddict: 143.481
*/
